/* Your Awesome Website */

div.contain-to-grid, .top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button) {

text-align: center;
height: 85px;
background: black;
}

div.menu {
	background: none;
	width: 100%;
	margin-top: 20px;
}

h4 {
	color:white;
	text-align: center;
}
div.aboutus {

	margin-top:20px;
}
div.contact {
	color: white;
	background: black;
}

p {
	color: white;
}
section.top-bar-section.right {

	text-align: center;
}
div.heading, div.heading h2 {
	text-align: center;
	color: white;
	background: black;
}

img.about {

	width:333px;
	height: 245px;
	padding-bottom: 20px;
}

div.content {
	background: black;

color: white;
}

nav.top-bar {
	height: 85px;

	z-index: 3;
	background: black;
}

img.logo {
	margin-top: 5px;
	width: 100px;
	height: 75px;  
}
