/* DIVS */

div.contain-to-grid, .top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button) {
font-family: 'Permanent Marker', cursive;
text-align: center;
height: 85px;
background: black;
}

div.menu {
	background: none;
	width: 100%;
	margin-top: 20px;
}

div.aboutus, div.orbit-container {

	margin-top:20px;
}
div.contact {
	margin-top: 20px;
	color: white;
	background: black;
}

div.content {
	background: black;
padding-top: 20px;
color: white;
}

section.top-bar-section.right {

	text-align: center;
}

div.heading, div.heading h2 {
	text-align: center;
	color: white;
	background: black;
}

/* IMG*/

img.about {

	width:333px;
	height: 245px;
	padding-bottom: 20px;
}

img.orbitpic {

	width: 100%;
}

img.logo {
	margin-top: 5px;
	width: 100px;
	height: 75px;  
}

/* Typography*/

p {
	color: white;
}


nav.top-bar {
	height: 85px;

	z-index: 3;
	background: black;
}


h4 {
	font-family: 'Permanent Marker', cursive;
	color:white;
	text-align: center;
	border: solid 2px;
}