/* DIVS */

div.contain-to-grid, .top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button) {
font-family: 'Permanent Marker', cursive;
text-align: center;
height: 45px;
background: black;
}

div.menu {
	background: none;
	width: 100%;
	margin-top: 20px;
}
div.aboutus {

	margin-top: 20px;
}
div.aboutus, div.orbit-container, div.row {
	background: none;
	
}
div.contact {
	margin-top: 20px;
	color: white;
	background: black;
	height: 325px;
		
}

div#gmap {
	margin-top: 20px;
background: black;
	height: 325px;
	padding: 10px;
}
div.content {
	background: none;
padding-top: 20px;
color: white;
}

section.top-bar-section.right {

	text-align: center;
}

nav.top-bar {
	height: 45px;

	z-index: 3;
	background: black;
}


div.heading, div.heading h2 {
	text-align: center;
	color: white;
	background: black;
}

/* Menu */

table {
	background: none;
	width: 100%;
	border:none;
}

tr {
	margin-bottom: 10px;

}

td, table tbody tr td, table tr td{
	font-size: 1em;
	font-weight: inherit;
	color: white;
}

td.item {
	font-family: 'Permanent Marker', cursive;
	font-size: 1em;
	color: white;
}

td.item.raw {

	font-family: 'Permanent Marker', cursive;
	font-size: 1em;
	color: orange;
}

td.item.spicy {

	font-family: 'Permanent Marker', cursive;
	font-size: 1em;
	color: red;
}

td.price {

	text-align: right;
	font-weight: bold;
}

table tr.even, table tr.alt, table tr:nth-of-type(even){

background: none;
}

/* IMG*/

img.about {

	width:333px;
	height: 245px;
	padding-bottom: 20px;
}

img.orbitpic {

	width: 100%;
}

img.logo {
	margin-top: 5px;
	width: 100px;
	height: 75px;  
}

/* Typography*/

p {
	color: white;
	background: none;
	margin-bottom: 0em;
}

h4 {
	font-family: 'Permanent Marker', cursive;
	color:white;
	font-size: 2em;
	text-align: center;
	background: black;
	
}

/* Footer */

p.footer {
	text-align: center;
	background: black;
	margin-top: 20px;
}

p.footer i{
	color: #333333;
	font-size: 2em;
}